<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application>
        <activity
            android:launchMode="singleInstance"
            android:taskAffinity="com.ducktappedapps.grpclogger"
            android:icon="@mipmap/ic_launcher_grpc_logo"
            android:roundIcon="@mipmap/ic_launcher_grpc_logo_round"
            android:name=".ui.GrpcLoggerActivity"
            android:label="@string/library_name"
            android:exported="true"
            android:theme="@style/Theme.GrpcLogger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>